#root {
  width: 100vw;
  height: 100vh;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #7158ff 0%, #97d9e1  100%);
}

/* Hide scrollbar for Chrome, Safari and Opera */


body::-webkit-scrollbar {display:none;}

section::-webkit-scrollbar{
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 